.App {
  text-align: center;
  padding:  10%;
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  background-image: url("https://i.imgur.com/aByhiso.jpg");
  background-position: center;
  background-size: contain;
  padding-top: 1em;
  background-repeat: no-repeat;
  flex: 0.5;
}